.player-score {
  width: 50px;
  height: 20px;
  background-color: var(--clr-white);
  display: flex;
  border: 2px solid var(--clr-card-back);
  padding: 1px;
  gap: 1px;
}

.player-score > .pointer {
  background-color: var(--clr-gray);
  text-indent: -9999px;
  overflow: hidden;
  width: 33%;
}

.player-score[data-points="1"] > .pointer:first-child {
  background-color: var(--clr-green);
}

.player-score[data-points="2"] > .pointer:nth-child(-n + 2) {
  background-color: var(--clr-green);
}

.player-score[data-points="3"] > .pointer {
  background-color: var(--clr-green);
}
